html{
    overflow-x:hidden;
    max-width: 100vw;
}

.manflix-flexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.manflix-flexcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/******** PRIMEVUE RESET *********/
.primeFieldReset{
    border: none !important;
    box-shadow: none !important;
    &::placeholder{
        font-size: 14px;
        font-family: 'NetflixSansRegular';
    }
    &::-ms-clear,
    &::-ms-reveal{
        display: none;
    }   
}
.p-password i{
    width: auto;
}


//LOGIN PAGE
.primeFieldPassword{
    background-color: var(--background-field-color) !important;
    color:white !important;
    &::placeholder{
        color: var(--placeholder-field-color);
        padding-left: 10px;
    }
}



